<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create a new project temporary</title>
    <script type="module" src="/1_SCRIPTS/3_Testing/static/js/db/dbEvents.js"></script>
    <script type="module" src="/1_SCRIPTS/3_Testing/static/js/create_project.js"></script>

</head>
<body>
    To create a new project enter the name of the project bellow <br>
    then upload your desired scenes to enter the scene editor. you must upload at least one scene <br>
    <input id='projectNameInput' type="text" placeholder="project name"> </input>
    <button id="crtProjectBtn"> create project </button>


</body>
</html>