<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create a new project temporary</title>
    <script src="https://cdn.jsdelivr.net/npm/uuid@8.3.2/dist/umd/uuidv4.min.js"></script>
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>    
    <link href="https://releases.transloadit.com/uppy/v3.6.1/uppy.min.css" rel="stylesheet">
    <script type="module" src="/1_SCRIPTS/3_Testing/static/js/db/dbEvents.js"></script>
    <script type="module" src="/1_SCRIPTS/3_Testing/static/js/create_project.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/components/uppy.css">

</head>
<body>
    To create a new project enter the name of the project bellow <br>
    then upload your desired scenes to enter the scene editor. you must upload at least one scene <br>
    <input id='projectNameInput' type="text" placeholder="project name"> </input>
    <button id="crtProjectBtn"> create project </button>
    <div id="drag-drop-area" class="uppy-container"></div>
    <input id="name_input" class="textInput" type="text" placeholder="Enter name">  
    <button id="uppy_upload_btn" class="btn hidden">Upload</button>       



</body>
</html>