<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>360 Image in A-Frame</title>
    <!-- <link rel="colors" href="colorPalette.css"> -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="fonts" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <!-- CDN -->
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js/dist/supabase.min.js"></script>

    <script type="importmap">
        {
          "imports": {
            "three": "https://unpkg.com/three@0.160.0/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@0.160.0/examples/jsm/"
          }
        }
        </script>
    <!-- SCRIPTS -->   
    <script type="module" src="../static/js/dbEvents.js" ></script>
    <script type="module" src="../static/js/auth_handler.js"></script>
    <script type="module" src="../static/js/JSONSetup.js"></script>
    <script type="module" src="../static/js/mediaPlayer.js"></script>
    <script type="module" src="../static/js/transitionNodes.js"></script>
    <script type="module" src="../static/js/hollowCylinder.js" ></script>

    <script src="../static/js/zoomControl.js"></script> 
    <script src="../static/js/sky.js"></script> 
    <script type="module" src="../static/js/mouseInteractionEvents.js"></script> 
    <script src="../static/js/minimap.js"></script>
    <script type="module" src="../static/js/mediaPopup.js"></script>
    <script src="../static/js/popupContent.js"></script>
    <script src="../static/js/dashboard.js"></script>
    <script src="../static/js/customGlow.js"></script>
    <script src="../static/js/customLookControls.js"></script>
    <script src="../static/js/touchInteractionEvents.js"></script>
    <script type="module" src="../static/js/mediaBar.js"></script>
    <script type="module" src="../static/js/editMode.js"></script>
    <script type="module" src="../static/js/mediaplayerTypesEditMenu.js"></script>

    

    <!-- <script src="assets/js/cameraOffset.js"></script> -->
    
    
</head>
<body>
    

    <!-- A screen container to store all screen elements on the front -->
    <div id="'screen_container" class="screen">

        

        <!-- A dashboard at the bottom that reveals the minimap and other items-->
        <div id="dashboard-container">
            <div id="dashboard" class="">
                
                <div id="burger_menu" >
                    <button id="burger_button" class="dashboard-item">
                        <img src="../static/0_resources/icons/burger.png" alt="Menu">
                    </button>
                </div>
                

                <div id="icon_gallery" class="dashboard-item">
                    <!-- Icons go here -->
                </div>

                <!-- a button to toggle edit mode -->
                <button id="editModeToggle">Toggle Edit Mode</button>


                <!-- other utilities -->
                <button id="fullscreen_button" class="dashboard-item">
                    <img src="../static/0_resources/icons/fullscreen.png" alt="Fullscreen">
                </button>
                <button id="minimap_button" class="dashboard-item">
                    <img src="../static/0_resources/icons/minimap.png" alt="Minimap">
                </button>
            </div>
        </div>

        <div id="menu_container" class="menu dashboardMenu hidden">
            <div id="menu_content" class="menu">
                <a href="#home">Home</a>
                <a href="#about">About</a>
                <a href="#services">Services</a>
                <a href="#contact">Contact</a>
                <!-- Add more menu items here -->
            </div>
        </div>

        <div id="minimap_container" class="floating">
            <!-- Minimap nodes -->
            <div id= "minimap_node_01.1" class="minimapNode" imgId="01.1" current = "True" style="left: 235px; top: 130px;"></div>
            <div id= "minimap_node_01.2" class="minimapNode" imgId="01.2" current = "False" style="left: 160px; top: 90px;"></div>
            <div id= "minimap_node_02.1" class="minimapNode" imgId="02.1" current = "False" style="left: 90px; top: 90px;"></div>
            <div id= "minimap_node_04.1" class="minimapNode" imgId="03.1" current = "False" style="left: 150px; top: 120px;"></div>
        </div>
        
        <!-- Selection bar to change class option in edit mode -->
        <div id="editmode_bar" class="container flexColumn hidden">
            <div id="editmode_options" class="editmode flexRow"  >
                <button class="btn nonObjectClassBtn btnClickEffect" related_menu_id="edit_menu_MediaplayerTypes">Edit Mediaplayer Types</button>
                <button class="btn nonObjectClassBtn btnClickEffect" data-class="somethingElse">somethingElse</button>
            </div>

            <div id="object_class_selection_bar" class="bar flexRow" >
                <button class="btn objectClassBtn" data-class="None">None</button>
                <button class="btn objectClassBtn" data-class="TransitionNode">TransitionNode</button>
                <button class="btn objectClassBtn" data-class="MediaPlayer">MediaPlayer</button>
                <button class="btn objectClassBtn" data-class="LabelTag">LabelTag</button>
            </div>
        </div>
          
        <!-- Edit menu to add or edit types of mediaplayers -->
        <!-- <div id="edit_menu_mediaplayerTypes" class="menu hidden">
            <h2>Edit Menu</h2>
            <ul>
                <li>
                    <label for="edit_menu_mediaplayerTypes_add"> <p>Add New Type</p></label>
                    <input type="text" id="edit_menu_mediaplayerTypes_add" placeholder="Enter new type">
                    <button class="btn" id="edit_menu_mediaplayerTypes_add_btn">Add Type</button>
                </li>
            </ul>
        </div> -->

        <div  id="edit_menu_MediaplayerTypes" class="menu ">
            <h2>Edit Menu</h2>
            <!-- <div class="edit-section">
              <h3>Add New Type</h3>
              <input type="text" id="newType" placeholder="Enter new type">
              <button class="btn" id="addTypeBtn">Add Type</button>
            </div> -->
            <h3>Edit Existing Type</h3>
            <select id="edit_menu_MediaplayerTypes_select" title="Select Mediaplayer type">
            <!-- Options will be populated dynamically -->
            </select>

            <div id="edit_menu_MediaplayerTypes_colors" class="grid">
                <p>dark color: </p>
                <input id="edit_menu_MediaplayerTypes_darkColor_input" class="menuInput" type="text"  placeholder="Enter dark color">
                <p>light color: </p>
                <input id="edit_menu_MediaplayerTypes_lightColor_input" class="menuInput" type="text" placeholder="Enter light color">
            </div>
            <div id="edit_menu_MediaplayerTypes_icons" class="grid">
                <!-- Icon fields will be added dynamically -->
            </div>
                <button id="edit_menu_MediaplayerTypes_addIcon_button" class="btn" >Add Icon</button>
                <button id="edit_menu_MediaplayerTypes_save_button" class="btn">Save</button>
              </div>
          </div>

                   

        <!-- Edit menu to add or edit types of mediaplayers -->
        <div id="creation_menu_mediaplayerTypes" class="menu creationMenu hidden">
            <h2>Edit Menu</h2>
            <ul>
                <li>
                    <label for="creation_menu_mediaplayerTypes_add"> <p>Add New Type</p></label>
                    <input type="text" id="creation_menu_mediaplayerTypes_add" placeholder="Enter new type">
                    <button class="btn" id="creation_menu_mediaplayerTypes_add_btn">Add Type</button>
                </li>
            </ul>
        </div>
        

        <!-- Edit menu to delete or change values of objects in a-scene -->
        <div id="edit_menu_TransitionNode" class="menu hidden">
            <ul>
                <li class="editMenuOption menuItem">Object ID: </li>
                <li class="editMenuOption deleteOption">Delete</li>
                <li>
                    <label for="edit_menu_TransitionNode_toScene_id_input">Change toScene ID</label>
                    <select id="edit_menu_TransitionNode_toScene_id_input" class="editMenuOption changeSceneId"></select>
                </li>

                <!-- Add other options as needed -->
            </ul>
        </div>    


        <!-- Edit menu to delete or change values of objects in a-scene -->
        <div id="edit_menu_MediaPlayer" class="menu hidden">
            <ul>
                <li class="editMenuOption menuItem">Object ID: </li>
                <li> 
                    <label for="edit_menu_MediaPlayer_title_input"> <p>Edit title:</p></label>
                    <input type="text" id="edit_menu_MediaPlayer_title_input" name="menu_input edit_menu_MediaPlayer_title_input" >
                    <input type="button" class="submitOption" value="Submit">
                </li>
                <li>
                    <label for="edit_menu_MediaPlayer_scene_id_input">Select thisScene ID</label>
                    <select id="edit_menu_MediaPlayer_scene_id_input" class="editMenuOption changeSceneId changeMediaPlayerSceneId"></select>
                </li>
                <li>
                    <label for="edit_menu_MediaPlayer_type_input">Select Type</label>
                    <select id="edit_menu_MediaPlayer_type_input" class="editMenuOption changeMediaPlayerType"></select>
                </li>
                <li>
                    <label for="edit_menu_MediaPlayer_iconIdx_input">Select icon index</label>
                    <select id="edit_menu_MediaPlayer_iconIdx_input" class="editMenuOption changeMediaPlayerIconIdx"></select>
                </li>
                <li class="editMenuOption deleteOption">Delete</li>
                
                <!-- Add other options as needed -->
            </ul>
        </div>   
          

        <!-- Creation menu to when adding transition nodes -->
        <div id="creation_menu_TransitionNode" class="menu creationMenu hidden" >
            <h4>Transition Node</h4>
            <ul>
                <li>
                    <label for="creation_menu_TransitionNode_scene_id_input">Select New Scene ID</label>
                    <select id="creation_menu_TransitionNode_scene_id_input" class="menuInput creation_menu_TransitionNode_scene_id_input changeSceneId changeMediaPlayerSceneId"></select>
                    <input type="button" class="submitOption" value="Submit">
                </li>

            </ul>
        </div>

        <!-- Creation menu when adding media players -->
        <div id="creation_menu_MediaPlayer" class="menu creationMenu hidden" >
            <h4>Media Player</h4>
            <ul>
                <li>
                    <label for="creation_menu_MediaPlayer_title_input"> <p>Media player title:</p></label>
                    <input type="text" id="creation_menu_MediaPlayer_title_input" name="menuInput creation_menu_MediaPlayer_title_input" >
                    <label for="creation_menu_MediaPlayer_type_input"> <p>Select Type:</p></label>
                    <select  type="text" id="creation_menu_MediaPlayer_type_input" name="menu_input creation_menu_MediaPlayer_type_input" >
                        <option value="">Select Type</option>
                        <!-- Options will be added dynamically -->
                    </select>
                    <label for="creation_menu_MediaPlayer_iconIdx_input"> <p>Icon Index:</p></label>
                    <select type="text" id="creation_menu_MediaPlayer_iconIdx_input" name="menu_input creation_menu_MediaPlayer_iconIdx_input" >
                        <option value="">Select Icon</option>
                        <!-- Options will be added dynamically -->
                    </select>                    
                </li>
                <li> <input type="button" class="submitOption" value="Submit"> </li>
            </ul>
        </div>
        

        <!-- Minimap container, need to find a better way to generate them automatically from a spread sheet -->

         <div id="sidebar-container">
            <div id="sidebar-toggler"> 
                <div id="sidebar-toggler-button"> 
                </div>
            </div>
            <div id="sidebar">
                <div id="sidebar-header"> <h1>header</h1>  </div>
                <div id="sidebar-item-grid"></div>
            </div>
        </div>


        <!-- An overlay to blur the background when something pops up -->
        <div class="overlay" id="overlay"></div>


        <!-- A template of the popup window that pops up when a mediaPlayer is clicked -->
        <div id="popup" class="popup" style="display:none;">
            <!-- The header of the popup with a subtitle, title and a paragraph-->
            <div class="popup-header">
                <div class="title-container">
                    <h1 class="popup-subtitle">Subtitle</h1>
                    <h2 class="popup-title">Your Title Here</h2>
                    <p class="title-description">
                        A small description of the title.
                    </p>
                </div>            
                <button class="popup-close-button">&times;</button>
            </div>
            <!-- The general body of the popup, which can optionally contain an image, a video and some paragraphs-->
            <div class="popup-body">
                <!-- Add text -->
                <div class="popup-media-text">
                <p>Your content goes here. Sage dental combines 
                    leading-edge clinical innovations and a proprietary 
                    software platform to deliver the best patient care
                    and experience in the dental industry....</p>
                </div>
                <!-- Add images -->
                <img id="popup_image" class="popup-media" src="" alt="">
                <!-- Add videos if available -->
                <video id="popup_video" class="popup-media" src=""  controls ></video>            
                <!-- Add embdedded video if available -->            
                <iframe id="popup_video_embedded" class="popup-media" src="" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                
            </div>
        </div>
    </div>
      
    
    
    <a-scene id="scene">
        
        <a-assets>
            <!-- Can we load on the go instead of waiting for website to load? -->
            <!-- <img id="background_img_01.1" src="../static/0_resources/img1.1_lobby.jpeg" background_img_id="01.1" alt="image of the scene"> 
            <img id="background_img_01.2" src="../static/0_resources/img1.2_lobby.jpeg" background_img_id="01.2" alt="image of the scene">
            <img id="background_img_02.1" src="../static/0_resources/img2_dentalRoom1.jpeg" background_img_id="02.1" alt="image of the scene">
            <img id="background_img_03.1" src="../static/0_resources/img3_dentalRoom2.jpeg" background_img_id="03.1" alt="image of the scene"> -->

            <!-- Defining the general mediaPlayer entity, basically like a prefab -->
            <a-mixin
                id="mediaplayer_frame"                 
                geometry="primitive: ring; radiusInner: 0; radiusOuter: 1"
                material="side:double; shader: flat"
                animation__scale="property: scale; to: 1.2 1.2 1.2; dur: 200; startEvents: hoverin"
                animation__scale_reverse="property: scale; to: 1 1 1; dur: 200; startEvents: hoverout"
            ></a-mixin>
            <a-mixin
                id="mediaplayer_icon"
                geometry="primitive: ring; radiusInner: 0; radiusOuter: .94"
                material="opacity: .99; side:double; shader: flat"
                position="0 0 -.05"
                src="../static/0_resources/icons/CMYK_Blue_Emergency.png">
            </a-mixin>
            <a-mixin
                id="mediaplayer_border"
                geometry="primitive: ring; radiusInner: .93; radiusOuter: 1"
                material="color:white; side:double; shader: flat"
                position="0 0 -.05"
                >
            </a-mixin>

            <!-- Defining the general transitionNode entity, basically like a prefab -->
            <a-mixin
                id="transition_node_frame"                 
                geometry="primitive: ring; radiusInner: 0; radiusOuter: .75"
                scale="1 1 1"
                material="side: double; opacity: 0"
            ></a-mixin>
            <a-mixin
                id="transition_node_icon"
                geometry="primitive: ring; radiusInner: 0; radiusOuter: .5"
                position="0 0 -.005"
                material="side: double;"
                src="../static/0_resources/icons/CMYK_Blue_Emergency.png">
            </a-mixin>
            <a-mixin
                id="transition_node_glow"   
                class="transition-glow"              
                geometry="primitive: ring; radiusInner: .4; radiusOuter: .5"
                material="side: double; emissive: #AAA; emissiveIntensity: 1; opacity: .4"
                animation__scale="property: scale; to: 1.5 1.5 1.5; dur: 2000; easing: easeInOutQuad; loop: true"
                animation__emissive="property: material.emissiveIntensity; from: 0; to: 1; dur: 2000; easing: easeInOutQuad; loop: true"
                animation__opacity="property: material.opacity; from: 1; to: 0; dur: 2000; easing: easeInOutQuad; loop: true"
            ></a-mixin>

            

        </a-assets>
        <a-entity id="camera_rig" rotation="0 0 0">
            <a-camera id="camera"  custom-look-controls wasd-controls-enabled="false" rotation="45 45 45">
                <a-cursor id="cursor" fuse="True"></a-cursor>
            </a-camera>
        </a-entity>
        
        

        <!-- Loading in 360 image. -->
        <a-sky id="sky" class="Sky" src="#background_img01.1" background_img_id="01.1" rotation="0 0 0" initial_camera_rotation="0 0 0"></a-sky>

        <!-- Loading plane and cylinder for editMode object only -->
        <a-ring 
            id="gridPlane" 
            edit_mode="false" 
            position="0 0 0" 
            rotation="-90 0 0" 
            radius-inner="0" 
            radius-outer="10" 
            material="visible: false; src: ../static/0_resources/misc/grid_texture.png; transparent: true; repeat: 20 20;"
        ></a-ring>
        <a-entity 
            id="gridCylinder" 
            edit_mode="false"  
            hollow-cylinder
            position="0 0 0" 
            material="visible: false; src: ../static/0_resources/misc/grid_texture.png;  transparent: true; repeat: 60 10;"
        ></a-entity>



        <!-- Defining mediaplayers, need to find a way to automate their positions -->
        <!-- <a-entity id="mediaplayer_1" visible="true" clickable="true" toggle_visibility="true" class="mediaplayer" mediaplayer_type="blue" icon_index="1"
        mixin="mediaplayer_frame" position="45 2 10" rotation="0 90.000 0">
            <a-entity class="mediaplayer-icon" material="src:" mixin="mediaplayer_icon"></a-entity>
            <a-entity class="mediaplayer-border" mixin="mediaplayer_border"></a-entity>
        </a-entity> -->

        <!-- <a-entity id="mediaplayer_2" visible="true" clickable="true" toggle_visibility="true" class="mediaplayer" mediaplayer_type="blue" icon_index="1" 
        mixin="mediaplayer_frame" position="7 2 -40" rotation="0 150.000 0">
            <a-entity class="mediaplayer-icon" material="src:" mixin="mediaplayer_icon"></a-entity>
            <a-entity class="mediaplayer-border" mixin="mediaplayer_border"></a-entity>
        </a-entity> -->

        <!-- <a-entity id="mediaplayer_3" visible="false" clickable="true" toggle_visibility="true" class="mediaplayer" mediaplayer_type="blue" icon_index="1"
        mixin="mediaplayer_frame" position="-50 2 20" rotation="0 -40.000 0">
            <a-entity class="mediaplayer-icon" material="src:" mixin="mediaplayer_icon"></a-entity>
            <a-entity class="mediaplayer-border" mixin="mediaplayer_border"></a-entity>
        </a-entity>

        <a-entity id="mediaplayer_4" visible="false" clickable="true" toggle_visibility="true" class="mediaplayer" mediaplayer_type="blue" icon_index="1" 
        mixin="mediaplayer_frame" position="7 2 -40" rotation="180 0.000 0">
            <a-entity class="mediaplayer-icon" material="src:" mixin="mediaplayer_icon"></a-entity>
            <a-entity class="mediaplayer-border" mixin="mediaplayer_border"></a-entity>
        </a-entity>

        <a-entity id="mediaplayer_5" visible="false" clickable="true" toggle_visibility="true" class="mediaplayer" mediaplayer_type="blue" icon_index="1"
        mixin="mediaplayer_frame" position="-12 -20 -40" rotation="0 210.000 0">
            <a-entity class="mediaplayer-icon" material="src:" mixin="mediaplayer_icon"></a-entity>
            <a-entity class="mediaplayer-border" mixin="mediaplayer_border"></a-entity>
        </a-entity>

        <a-entity id="mediaplayer_6" visible="false" clickable="true" toggle_visibility="true" class="mediaplayer" mediaplayer_type="blue" icon_index="1" 
        mixin="mediaplayer_frame" position="-50 2 20" rotation="0 -30.000 0">
            <a-entity class="mediaplayer-icon" material="src:" mixin="mediaplayer_icon"></a-entity>
            <a-entity class="mediaplayer-border" mixin="mediaplayer_border"></a-entity>
        </a-entity> -->


        <!-- Creating some buttons to move between 360 images. -->
        
        <!-- <a-entity id="move_01.1_01.2"  class="transitionNode" clickable="true" visible="true" toggle_visibility="true" 
            background_img_id="01.1" new_background_img_id= "01.2"
            mixin="transition_node_frame"
            position="-9.1 -2.5 -3" rotation="90 0 0" 
            ><a-entity  mixin="transition_node_icon" ></a-entity>
            <a-entity mixin="transition_node_glow"></a-entity>
        </a-entity>   -->
        <!-- <a-entity id="move_01.1_03.1"  class="transitionNode" clickable="true" visible="true" toggle_visibility="true"
            background_img_id="01.1" new_background_img_id= "03.1"
            mixin="transition_node_frame"
            position="-9 -2.5 2.2" rotation="-90 0 0"
            ><a-entity  mixin="transition_node_icon" ></a-entity>
            <a-entity mixin="transition_node_glow"></a-entity>
        </a-entity> -->

        <!-- <a-entity id="move_01.2_01.1"  class="transitionNode" clickable="true" visible="false" toggle_visibility="true"
            background_img_id="01.2" new_background_img_id= "01.1"
            mixin="transition_node_frame"
            position="-.1 -2.5 -9.1" rotation="90 0 0"
            ><a-entity  mixin="transition_node_icon" ></a-entity>
            <a-entity mixin="transition_node_glow"></a-entity>
        </a-entity> -->

        <!-- <a-entity id="move_01.2_02.1"  class="transitionNode" clickable="true" visible="false" toggle_visibility="true" 
            background_img_id="01.2" new_background_img_id = "02.1"
            mixin="transition_node_frame"
            position="-6.5 -2.5 6.5" rotation="-90 0 0"
            ><a-entity  mixin="transition_node_icon" ></a-entity>
            <a-entity mixin="transition_node_glow"></a-entity>
        </a-entity> -->

        <!-- <a-entity id="move_01.2_03.1"  class="transitionNode" clickable="true" visible="false" toggle_visibility="true" 
            background_img_id="01.2" new_background_img_id = "03.1"
            mixin="transition_node_frame"
            position="3 -2.5 -1.3" rotation="-90 0 0"
            ><a-entity  mixin="transition_node_icon" ></a-entity>
            <a-entity mixin="transition_node_glow"></a-entity>
        </a-entity> -->

        <!-- <a-entity id="move_02.1_01.2"  class="transitionNode" clickable="true" visible="false" toggle_visibility="true"
            background_img_id="02.1" new_background_img_id= "01.2"
            mixin="transition_node_frame"
            position="6.2 -2.5 3" rotation="90 0 0"
            ><a-entity  mixin="transition_node_icon" ></a-entity>
            <a-entity mixin="transition_node_glow"></a-entity>
        </a-entity>

        <a-entity id="move_03.1_01.2"  class="transitionNode" clickable="true" visible="false" toggle_visibility="true" 
            background_img_id="03.1" new_background_img_id= "01.2"
            mixin="transition_node_frame"
            position="1 -2.5 -2.7" rotation="90 0 0"
            ><a-entity  mixin="transition_node_icon" ></a-entity>
            <a-entity mixin="transition_node_glow"></a-entity>
        </a-entity> -->

    </a-scene>
    
</body>

</html>

