<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
    <script type='module' src="../static/js/db/dbClient.js"></script>    
    <script type='module' src="../static/js/db/dbEvents.js"></script>
    <script type='module' src="../static/js/db/dbLoginHandler.js"></script>
    

</head>
<body>
    <form id="login-form">
        <input type="email" id="email" placeholder="Email">
        <input type="password" id="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
    <button id="signOutButton">Sign Out</button>
</body>
<button id="index"> go to index </button>
</html>