<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>PROJECTS</h1>
    <h3 id='ClickedProjectHeader'> Chosen Project </h3>
    <p id="ClickedProject"></p>

    <table id="projectsTable">
        <tr class = 'bg-ingo'> </tr>
            <th>project name</th>
        </tr>
        <tbody id="myTable">

        </tbody>    
    </table>
    <button id="uploadButton" disabled>Upload</button>
    <script>
        function redirectToProjectsDirectory(path) {
            window.location.href = path;
        }
    
        document.getElementById('uploadButton').addEventListener('click', function() {
            redirectToProjectsDirectory('upload.html');
        });
    </script>
    
    
  

</body>
<script type="module" src="../static/js/dbEvents.js"></script>
<script type="module" src="../static/js/projects.js"></script>
</html>