:root {
    /* COLORS */
    --primary: #2dc84d;
    --secondary: #33FF57;
    --accent: #3357FF;
    --background: #F0F0F0;
    --text: #333333;
    --hoverIn: #DBFFE5;
    --hoverInClicked:gray;
    --transitionNode:#2dc84d;
    --mediaPlayer:rgb(159, 115, 39);
    --sageGreen: #2dc84d;
    --mintGreen: #DBFFE5;
    --oceanBlue: #009A9F;
    --popPink: #FB7698;
    --coolPink: rgb(255, 216, 226);
    --coolBlue: #D0F9F2;    
    --popupDarkColor: #2dc84d;
    --popupLightColor: #DBFFE5;

    /* CONSTANTS */
    --mediabar_width: 300px;
    --menubar_width: 30px;

}


/* Adding fonts */
@font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Black.otf') format('opentype');
    font-weight: 900; /* 900 is typically used for the black weight */
    font-style: normal;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }


/* Defining styles of general classes */
body {
    margin: 0;
    overflow: hidden;
    font-family: 'CircularStd', Helvetica;
    font-size: 1.5rem;
    cursor: auto 
    
}
h1 {
    margin: 0;
    overflow: hidden;
    font-family: 'CircularStd', Helvetica;
    font-size: 1rem;
}
h2 {
    margin: 0;
    overflow: hidden;
    font-family: 'CircularStd', Helvetica;
    font-weight: 900;
    font-size: 2.8rem;
}
h3 {
    margin: 0;
    overflow: hidden;
    font-family: 'CircularStd', Helvetica;
    font-weight: 900;
    font-size: 1.7rem;
}
h4 {
    margin: 0;
    overflow: hidden;
    font-family: 'CircularStd', Helvetica;
    font-weight: 900;
    font-size: 1rem;
}


/* Defining general of default browser items*/
/* For Webkit Browsers */
/* Adjusting scroll bar style */
::-webkit-scrollbar {
    width: 1px; /* width of the entire scrollbar */
  }
  
::-webkit-scrollbar-track {
background: var(--popupLightColor); /* color of the tracking area */
}

/* For Firefox Browsers */
/* Adjusting scroll bar style */
html {
    scrollbar-color: var(--popupDarkColor) var(--popupLightColor); /* thumb and track color */
    scrollbar-width: thin; /* 'auto', 'thin', or 'none' */
  }


/* Defining scene style*/
#scene { 
    width: 100%;
    height: 100%;
    display: block;
}

/* the general screen, useful to hide all content quickly */
.screen {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

/* Defining general class styles */
.container {
    background-color: var(--mintGreen); /* Semi-transparent white */
}

/* a floating container is one that is floating in middle of the screen */
.container.floating {
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.3); /* Adds depth */
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
}


/* Defining bottom dashboard style */
#dashboard {
    /* PROPERTIES and INDEX*/
    z-index: 1000; /* High enough to be on top of other elements */
    position: relative;

    /* SIZING */
    height: 100%;
    width: var(--menubar_width);

    /* LAYOUT */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;    

    /* MARGINS AND PADDINGS */
    margin-left: 0; /* Align to bottom */
    padding: 10px;
}

/* Common styles for dashboard items */
.dashboard-item {
    /* MARGINS AND PADDINGS */
    margin-top: auto;
    padding: 0; /* Removes default padding */

    /* STYLING */
    border: none; /* Removes default button border */
    background: none; /* Removes default button background */
    cursor: pointer; /* Changes cursor on hover */
}

/* Setting the size of the button icon image */
.dashboard-item img {
    width: 40px; /* Set the width as desired */
    height: 40px; /* Set the height as desired */
    object-fit: cover;
}

/* Styles for hover or focus state, e.g., a slight drop shadow or change in opacity */
.dashboard-item:hover, .dashboard-item:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Styles for when the button is clicked */
.dashboard-item:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* Put top dashboard item at the top with a margin */
.dashboard-item:nth-child(1) {
    /* MARGINS AND PADDINGS */
    margin-top: 20px;
}

/* put last dashboard item at the bottom with a margin */
.dashboard-item:nth-child(4) {
    /* MARGINS AND PADDINGS */
    margin-top: auto;
    margin-bottom: 20px;
    
}


.menu {
    /* PROPERTIES and INDEX*/
    z-index: 2; /* Sit on top */
    overflow-x: hidden; /* Hides overflowing content */

    /* SIZING */
    height: 100%;
    width: 0; /* Initially sidebar width is 0 */
    
    /* LAYOUT */    
    left: 0px;

    /* MARGINS AND PADDINGS */
    margin-right: auto;
    margin-left: 0;
    margin-bottom: auto;    
    padding-top: 60px; /* Some padding at the top */

    /* STYLING */
    background-color: #111; /* Sidebar background color */
    transition: 0.4s; /* Smooth transition */
}

.menu a {   
    /* LAYOUT */ 
    display: block;

    /* MARGINS AND PADDINGS */
    padding: 10px 15px;

    /* STYLING */
    transition: 0.3s;
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.menu a:hover {
    color: #f1f1f1;
}




/* Defining minimap style*/
#minimap_container {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 300px;
    height: 20%;
    background-color: white;
    background-image: url('../../0_resources/map.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3); /* Shadow to the left side */
    /* border-radius: 10px; */
    z-index: 10002; /* Ensures it's above the A-Frame scene */
    border-top: 1px solid #000; 
    display: None;
}
/* 
hide minimap on phone */
@media only screen and (max-width: 767px) { 
    #minimap_container  {
        display: none;
    }
}


.minimapNode {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: var(--transitionNode);
    border-radius: 50%;
    border: 1px solid grey; /* Add a grey border */
    z-index: 10001;
}


/* Defining popup style*/
.popup {
    position: absolute;
    top: 50%;
    left: 50%;    
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: white;
    box-shadow: 0px 5px 15px var(--popupLightColor);
    box-sizing: border-box;
    border: 3px solid var(--popupLightColor);
    border-radius: 15px;
    overflow: auto;
    z-index: 1000; /* High z-index to be above other content */
    color: var(--popupDarkColor);
}
  
.popup-header {
    font-family: 'CircularStd', Helvetica;
    border-radius: 10px;
    padding-top: 1rem;
    padding: 1rem;
    /* background: #f9f9f9; */
        border: none;    
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    border: none;
} 

.title-description{
    font-style: italic;
    padding-bottom: 2rem;
}
  
.popup-close-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 2rem;
    color: var(--popupDarkColor);
    align-self: flex-start; /* Puts close-button on top of its own column container */
}

.popup-body {
    display: flex;
    flex-direction: column; 
    padding-top: rem;    
    border: 1.5px solid var(--popupLightColor); 
    border-radius: 10px;
    margin: auto; /* Centers the block itself horizontally */
    align-items: center;
}

.popup-media-text {
    padding-left: 10%;
    padding-right: 10%;
}

.popup-media {   
    
    padding:1rem;
    align-items: center;
    margin: auto;
    width:80%;
}
  
.popup-footer {
    padding: 1rem;
    background: #f9f9f9;
    border-top: 1px solid #eee;
    text-align: right;
}
  
  



  /* Defines overlay block that blurs background */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7); /* Semi-transparent white */
    -webkit-backdrop-filter: blur(5px); /* This creates the blur effect for other browsers */
    backdrop-filter: blur(5px); /* This creates the blur effect for firefox */
    display: none; /* Hidden by default */
    z-index: 999; /* Ensure it's below the popup but above other content */
}


  /* Defines mediabar aesthetics */
#mediabar_container {
    display: flex; /* Enables flexbox */
    flex-direction: row; 
    right: 0;
    top: 0;
    height: 100%;
    width: var(--mediabar_width);
    z-index: 1001;
    justify-content: right;
    transition: width 0.3s ease-in-out;

}
#mediabar {
    width: 100%;
    height: 100%; /* Full height of the viewport */
    overflow-y: auto; /* Adds a vertical scrollbar if content overflows */    
    top: 0px; /* Align to the top */
    right: 0px; /* Align to the right side of the page */
    background-color: white; /* Light grey background, adjust the color as needed */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3); /* Shadow to the left side */
    z-index: 1000; /* Ensure it's above other content */
    border-radius: 0px;
    z-index: 10; /* Ensures it's above the A-Frame scene */
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column; 
    align-items: center;
    
}
.mediabar-header {
    padding-right: 30px; /* Spacing inside the sidebar */
    padding-left: 30px;
    padding-top: 60px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    position: fixed;
    background-color: white;
    z-index: 1001;

}
.mediabar-item-container {
    padding: 50px; /* Spacing inside the sidebar */
    margin-top: 150px;
}

.mediabar-item {
    cursor: pointer; 
    margin-bottom: 40px; /* Space between news items */
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    /* Styles for the news item */
}

#mediabar_toggle {
    bottom: 10px;
    width: 15px;
    text-align: center;
    line-height: 100vh;
    background: var(--mintGreen); /* Semi-transparent white */
    z-index: 1002; /* Ensure it's below the popup but above other content */
    cursor: pointer;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
}



/* Arrow pointing to the left (for when the media bar is shown) */
#mediabar_toggle span {
    display: block;
    width: 0;
    height: 0;
    /* Adjust the size of the arrow by changing the border sizes */
    transition: transform 0.15s ;
    border-left: 8px solid ; /* Arrow color */
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 0px;   
}

/* Modify the arrow direction when the media bar is hidden */
#mediabar_toggle.expanded span {    
    transform: rotate(180deg);
}


/* for phone responsiveness */
@media only screen and (max-width: 767px) {
    #mediabar {
        display: none;
    }

    popup {
        width: 90%;
    }

}




/* Removes the VR button at the bottom right. Might be useful to change it to a full screen icon? */
.a-enter-vr-button { 
    display: none !important;
}
