:root {
    --primary: #FF5733;
    --secondary: #33FF57;
    --accent: #3357FF;
    --background: #F0F0F0;
    --text: #333333;
    --hoverIn: pink;
    --hoverInClicked:gray;
    --transitionNode:rgb(154, 167, 213);
    --mediaPlayer:rgb(159, 115, 39);
}

body {
    margin: 0;
    overflow: hidden;
}

#scene { 
    width: 100%;
    height: 100vh;
    display: block;
}

#minimap_container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 200px;
    height: 200px;
    background-image: url('0_resources/minimap.png');
    background-size: cover;
    border-radius: 10px;
    z-index: 10; /* Ensures it's above the A-Frame scene */
    border: 2px solid #000;
}


.minimapNode {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #4CC3D9;
    border-radius: 50%;
    border: 1px solid grey; /* Add a grey border */
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    padding: 2em;
    box-sizing: border-box;
    overflow: auto;
    z-index: 1000; /* Adjust as needed */
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
}


/* Responsive font size */
#popup h1 {
    font-size: 1.5em; /* Adjust as needed */
}

/* Media Query Example */
@media (max-width: 600px) {
    #popup {
        padding: 1em;
    }
    #popup h1 {
        font-size: 1.2em;
    }
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    z-index: 1000; /* High z-index to be above other content */
  }
  
  .popup-header {
    padding: 1rem;
    background: #f9f9f9;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .popup-title {
    font-weight: bold;
  }
  
  .popup-close-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.5rem;
  }
  
  .popup-body {
    padding: 1rem;
  }
  
  .popup-footer {
    padding: 1rem;
    background: #f9f9f9;
    border-top: 1px solid #eee;
    text-align: right;
  }
  
  .popup-action-button {
    padding: 0.5rem 1rem;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Responsiveness */
  @media (max-width: 768px) {
    .popup {
      width: 90%;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7); /* Semi-transparent white */
    backdrop-filter: blur(5px); /* This creates the blur effect */
    display: none; /* Hidden by default */
    z-index: 999; /* Ensure it's below the popup but above other content */
  }


.a-enter-vr-button { 
    /* Removes the VR button at the bottom right. Might be useful to change it to a full screen icon? */
    display: none !important;
}
