:root {
    --primary: #FF5733;
    --secondary: #33FF57;
    --accent: #3357FF;
    --background: #F0F0F0;
    --text: #333333;
    --hoverIn: pink;
    --hoverInClicked:gray;
    --transitionNode:rgb(154, 167, 213);
    --mediaPlayer:rgb(159, 115, 39);
}

body {
    margin: 0;
    overflow: hidden;
}

#scene { 
    width: 100%;
    height: 100vh;
    display: block;
}

#minimap_container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 200px;
    height: 200px;
    /* background-image: url('0_resources/minimap.png'); */
    background-size: cover;
    border-radius: 10px;
    z-index: 10; /* Ensures it's above the A-Frame scene */
    border: 2px solid #000;
}

.minimapNode {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--transitionNode);
    border-radius: 50%;
    border: 1px solid grey; /* Add a grey border */
}


.a-enter-vr-button { 
    /* Removes the VR button at the bottom right. Might be useful to change it to a full screen icon? */
    display: none !important;
}
