.btn {
    padding: 8px 8px;
    margin: 0 ;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.btn:hover {
    transform: scale(.9); 
    box-shadow: 0 2px 4px var(--popup_color);
    transition: .1s;
}
  
.btn:focus, .btn:active {
    outline: none;
}

.btn.active {
    outline: none;
    background-color: var(--popup_color);
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: default;
  }
  
/* click effect */
.btnClickEffect::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: var(--popup_color);
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}

  
.btnClickEffect:active::after {
    animation: clickEffect 0.3s ease-out;
}
  
@keyframes clickEffect {
    0% {
        width: 0;
        height: 0;
        opacity: 0.4;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}
  

/* ADDITIONAL BUTTON TYPES */
.addBtn {
  padding: 5px;
  margin: 10px;
  width: 50px;
  height:50px;
  font-size: 30px;
  color: #8a8a8a;
  background-color: #49434375;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
}

.okBtn {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
}

.roundedBtn {
  border-radius: 50%;
}

.exitBtn {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 3px 10px;
  background-color: #c2c2c205;
  color: #b4b4b4;
  align-self: flex-start;
  margin: 0;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 2px;
  font-weight: 600;
}
.exitBtn:hover {
  color: #ff0000;
  transform: scale(1.1); 
  box-shadow: 0 0px 0px rgb(248, 233, 233);
  transition: 0s;
}


.exitBtnPressed {
  color: white !important;
  background-color: #d60000a1;
  transform: scale(0.1);
  transition: 0.1s 
}



.deleteBtn {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 3px 10px;
  background-color: #660e0e;
  color: #e2e2e2;  
  font-weight: 800;
  cursor: pointer;
  border-radius: 4px;
  border-color: #811d1d;
}

.deleteBtn:hover {
  background-color: #992c2c;

}

.XBtn {
  position: relative;
  top: 0;
  right: 0;
  background-color: #ff000000;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.XBtn:hover {
  color:#838383;
}




/* TIPTAP BUTTONS FOR EDITOR MENU */
.tiptapBtn{
  display: flex;

  width: 16px;
  height: 16px;
  padding: 1px;

  font-size: 1px;
  background-color: #fff;
  border: 1px solid #00000065;
  justify-content: center;
  align-items: center;
  transition: background-color 0.1s ease, transform 0.1s ease;
  cursor: pointer;
  border-radius: 2px;




}

.tiptapBtn.active {  
  cursor: pointer;
}



.tiptapBtnImg {
  width: 15px;
  height: 15px;
  object-fit: contain;  
}

