
/* EDIT MENU */
.menu {
    position: absolute;
    display:flex;
    flex-direction: column;
    overflow:hidden;
    z-index: 4;
    
    /* SIZING */
    width: 300px;
    max-height: 500px; 

    /* STYLING */
    background-color: #111; /* Sidebar background color */
    box-shadow: 0 2px 5px rgba(224, 203, 203, 0.2);
    border-radius: 5px;
    padding:20px;
    

}
  
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
.menu ul li {
    padding: 5px;
    cursor: pointer;
    text-align: left;
    font-size: 0.9rem;
}

/* .menu ul li:hover {
    background-color: rgb(29, 29, 29);  
} */

.menu h4 {
    color: rgb(134, 134, 134);    
}

.menu p {
  color: rgb(175, 175, 175);
  font-size: 0.9rem;    
}

.menu span {
  color: rgb(134, 134, 134);    
}

.menu label {
    color: rgb(78, 78, 78);
}


.menu a {   
    /* LAYOUT */ 
    display: block;

    /* MARGINS AND PADDINGS */
    padding: 10px 15px;

    /* STYLING */
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.menu a:hover {
    color: var(--popup_color);
}

.widerMenu {
    width: 500px; 
}

.menuTopBar {
  width: auto;
  max-height: 500px;
  cursor: move;
}


.creationMenu input[type="text"] {
box-sizing: border-box; /* Make sure padding doesn't affect overall width */
padding: 5px;
margin-bottom: 10px; /* Space below the input field */
width: calc(100% - 10px); /* Adjust width as needed, considering padding */
border: 1px solid #ccc; /* Light border similar to editMenu style */
border-radius: 3px; /* Optional: rounded corners for the input */
}

.menuItem {
    font-size: 0.95rem;
    font-weight: bold;
    color: #8a8a8a;
    /* background-color: #f7f7f7; */
    border-bottom: 1px solid #eee;
}

.menuInput {
    box-sizing: border-box;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.dashboardMenu {  
    /* STYLING */    
    position: relative;
    display:flex;
    flex-direction: column;
    overflow:hidden;
    z-index: 4;
    
    /* SIZING */
    width: 300px;
    height: 100%;    


    /* STYLING */
    background-color: #111; /* Sidebar background color */
    border-radius: 0px;
    padding:10px;
    padding-top: 30px;
    /* LAYOUT */  
    position: relative;

    /* MARGINS AND PADDINGS */
    margin-bottom: auto;    
    transition: 0.3s;
    align-items: left;
}

.dashboardMenu a {   
  /* LAYOUT */ 

  /* MARGINS AND PADDINGS */
  padding: 10px 10px;

  /* STYLING */
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.dashboardMenu a:hover {
  color: var(--popup_color);
}

  
.dropdown {
  padding: 1px;
  display: block;
  position: absolute;
  top: 20%;
  left: 80%;
  background-color: #f9f9f9;
  width: 80px;
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 3px;

}

.dropdown a {
  font-size: 14px;

  color: black;
  padding: 7px;
  display: block;
  cursor: pointer;
}


.dropdown a:hover {
  background-color: #f1f1f1;
}



.uploadImageMenu {
  z-index: 5;
  min-height: 300px;;
}

.image_upload_wrapper {
  width: 250px;
  margin:auto;
}

.uploadImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 200px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.3s;
}

.uploadImageContainer:hover {
  border-color: #888;
}

.uploadImageContainer span {
  font-size: 16px;
  color: #888;
  margin:auto;
  margin-bottom: 10px auto;   
  cursor: pointer;
}

.emojiSelector {
  font-size: 16px;
  margin-bottom: 10px;
  width: 100%;
  align-items: center;
}  

.uploadedImage {
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;

  max-width: none;
  max-height: none;
  object-fit: cover;
  cursor: pointer;

}

.textInput {
  padding-bottom:5px;
  width: 100%;
  margin:auto;
  border-radius: 4px;
}



