/* sidebar styles */
#mediabar-container {
  height: 100%;
  width: 30%; /* 30 when open, 3 when closd */
  background-color: var(--background);
  z-index: 3;
  transition: width 0.3s ease;

  /* flexbox styles https://www.youtube.com/watch?v=phWxA89Dy94 */
  display: flex;
  justify-content: end flex;
}

#mediabar {
  height: 100%;
  width: 100%;
  transition: width 0.3s ease;
  /* flexbox styles */
  display: flex;
  flex-direction: column;
}
#mediabar-header {
  background-color: var(--background); 
  flex: 1;  
  padding-left: 7%; 
  padding-top: 7%;
  border-bottom: var(--bottom-border-styles) ;
}
#mediabar-item-grid {
  background-color: var(--background);
  flex: 5;
  /* grid styles https://www.youtube.com/watch?v=EiNiSFIPIQE */
  display: grid;
  grid-template-columns: 1fr;
  z-index: 3;
  scrollbar-gutter: 4px;
  overflow-y: auto;
  grid-auto-rows: 1;
}

.mediabar-item {
  z-index: 3;
  background-color: var(--background); 
  border-bottom: var(--bottom-border-styles);
  padding-left: 7%;
  padding-top: 3%;
}

#mediabar-toggler {
  /* flex-grow: 1; */
  flex-direction: column;
  height: 100%;
  width: var(--mediabar_width);
  background-color: var(--default_color);;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mediabar-toggler-button{
  background-color: var(--default_color);;
  display: block;
  width: 10%;
  /* Adjust the size of the arrow by changing the border sizes */
  transition: transform 0.15s ;
  border-left: 8px solid ; /* Arrow color */
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 0px;
  z-index: 2;  
}