.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7); /* Semi-transparent white */
  -webkit-backdrop-filter: blur(5px); /* This creates the blur effect for other browsers */
  backdrop-filter: blur(5px); /* This creates the blur effect for firefox */
  z-index: 5; /* Ensure it's below the popup but above other content */
  cursor: pointer;
}

.popup {
  position: absolute;
  max-width: 800px ; 
  width: 90%;   
  /* height:100%; */

  
  /* Center the block */
  top: 50%;
  left: 50%;    
  transform: translate(-50%, -50%);    
  overflow: hidden;

  background-color: white;
  box-shadow: 0px 5px 15px var(--popupLightColor);
  box-sizing: border-box;
  border: 3px solid var(--popupLightColor);
  border-radius: 15px;
  z-index: 6; /* High z-index to be above other content */
  color: var(--popupDarkColor);
  padding: 10px;


}


.popup-contianer {
  display: flex;
  flex-direction: column;;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}

.popup-contianer-header {
  position: sticky;
  margin-bottom: 0px;
  border-radius: 10px;
  padding: 0px;
  border: none;    
}


.popup-contianer-header-wrapper {  

}

.popup-title {
  margin-bottom: 10px;
}

.popup-subtitle {
  margin-bottom: 30px;
}

.popup-description {
  font-style: italic;
  padding-right: 10px;
  font-size: 14px;
  text-align: end;
  
}


.popup-contianer-body {
  overflow: hidden;
  display:flex;
  flex-direction: column;
  /* min-height: 200px; */
  max-width: 32ch;
  min-width: 70%;

  align-self: center ; 
  align-items: center;

  border: 1px solid #ccc;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;

}


.add-block-btn {
  margin-top: 10px;
}

.popup-exit-btn {  
  border: none;
  background: none;
  font-size: 1.2rem;
  color: var(--popupDarkColor);
}



.popup-body-editor-bar {
  position: sticky;
  padding: px;
  border-radius: 0px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;  
  max-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  /* background-color: #ccc; */
  
}

.popup-body-editor-bar > * {
  justify-content: flex-start;
  gap: 5px;  
  width: auto;
}

.popup-body-editor {  
  max-width: 100%;
  /* min-width: 10ch; */
  width:100%;
  min-height: 150px;
  overflow: auto;
  padding-bottom:10px;
  max-height: calc(80vh - 200px);
  margin-top: 10px;

}

.tiptap {
  border-top: 1px solid #bebebe;
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #bebebe;
  min-height: 150px;  
}


/* The body where text and imagse go, basically the tiptap editor */
.popup-body-editor p {  
  position: relative;
  /* Centering body in width */
  left: calc(50%);
  transform: translateX(-50%);

  /* Setting max width for readability */
  max-width: 58ch;
  min-width: 10ch;  
  
}

.tiptap img {
  max-width: 100%;
  height: auto;
}

/* The elements inside the tiptap editor paragraph shall take up the entire width */
/* .popup-body-editor p > *  {
  max-width: 100%;
} */

/* .prosemirror-dropcursor-inline > *{
  width: 50px !important;
} */

.popup-body-editor strong {
  font-weight: 900 !important;
}

.tiptap > * {
  color: rgb(53, 53, 53);
  font-weight: 100;

}



/* Classes for loading image until it uploads */
.blurred-image {
  filter: blur(5px);
  position: relative;
}

.loading-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-image: url('path/to/loading-icon.gif');
  background-size: cover;
}