
/* CUSTOMIZING DASHBOARD TO FIT IN A SMALL CONTAINER */
.uppy-DashboardContent-bar {
  order: 0;
}

.uppy-Dashboard-files {
  /* overflow-y: auto; */
}

.uppy-Dashboard-filesInner {
  width: 100%;
  padding: 10px;
}

.uppy-Dashboard-Item-preview {
  margin-top:0px;
  max-height: 200px;
  height: auto !important;
  width: 150px !important;
  display: block;
}

.uppy-Dashboard-Item-previewInnerWrap {
  margin-top:10px;
}

.uppy-Dashboard-Item-preview img.uppy-Dashboard-Item-previewImg {
  height: 100%;
  width: 100%;
  object-fit: contain;
  background-color: #0f161f;
}

.uppy-Dashboard-Item-fileInfoAndButtons {
  height: 40px;
}


/* CUSTOMIZING DASHBOARD TO FIT IN THE SAME SMALL CONTAINER AS THE DASHBOARD */



.uppy-ImageCropper-container {
  max-height: 180px;
}


.uppy-ImageCropper-controls button {
  height: 25px;
  width: 35px;
}

