

/* CONTAINER LAYOUT */

.container {
    position: relative;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header {
  padding-bottom: 30px;
  padding-top: 10px;
}

.title {
  padding-bottom: 15px;
}


/* FLEX LAYOUTS */
.flexRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;    
    flex-wrap: wrap;
    align-items: stretch;
}


.f1{
  flex-grow: 1;
}
.f2{
  flex-grow: 2;
}
.f3{
  flex-grow: 3;
}
.f4{
  flex-grow: 4;
}




.flexRowLeft{
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-end; 
  align-items: flex-end;
  width: 100%;

}

.flexRowTop{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;    
}

.flexBottom {  
  align-self: flex-end;
}

/* GRID LAYOUTS */
.grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 5px;
  margin: 15px;
  /* align-items: flex-end; */
  align-items: stretch;
  height: 100%;

}

.grid4Column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  margin-bottom: 30px;
}

.grid5Column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  margin-bottom: 30px;
}

.grid3Column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  margin-bottom: 30px;
}


.grid2Column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: stretch; 
}

.col41 {
  grid-template-columns: 4fr 1fr;
}
.col14 {
  grid-template-columns: 1fr [] 4fr;
}

.col31 {
  grid-template-columns: 3fr 1fr;
}

.col21 {
  grid-template-columns: 2fr 1fr;
}

.grid2ColumnSym {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  align-items: flex-end;
}

.gridItem {
  font-size: 0.95rem;
  font-weight: bold;
  color: #8a8a8a;
  /* background-color: #f7f7f7; */
  border-bottom: 1px solid #eee;
}

.centerItems {
  align-items: center;
  text-align: center;
}

/* ADD TO CLASS IN HTML TO INITIALLY HIDE ITEMS */
.hidden {
    display: none;
    visibility: hidden;
  }

/* Gray out an option and disable its clicking */
.disabled {
  color: red;
}

.scrollable {
  overflow-y: auto; 
}
  
.placeholder{
  height:500px;
  background-color: #5a4999;
  border: 5px solid #eee;
}
