

/* CONTAINER LAYOUT */

.container {
    position: relative;
    padding: 8px;
    background: #fffcfc81;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }


/* FLEX LAYOUTS */

.flexRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;    
    flex-wrap: wrap;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

/* ADD TO CLASS IN HTML TO INITIALLY HIDE ITEMS */
.hidden {
    display: none;
    visibility: hidden;
  }

  