:root {
    /* COLORS */
    --primary: #2dc84d;
    --secondary: #33FF57;
    --accent: #3357FF;
    --background: #363434;
    --text: #ebe7e7;
    --hoverIn: #DBFFE5;
    --hoverInClicked:gray;
    --transitionNode:#2dc84d;
    --mediaPlayer:rgb(159, 115, 39);
    --sageGreen: #2dc84d;
    --mintGreen: #DBFFE5;
    --oceanBlue: #009A9F;
    --popPink: #FB7698;
    --coolPink: rgb(255, 216, 226);
    --coolBlue: #D0F9F2;    
    --popupDarkColor: #2dc84d;
    --popupLightColor: #DBFFE5;

    /* CONSTANTS */
    --mediabar_width: 300px;
    --menubar_width: 30px;

    --bottom-border-styles: 1px rgb(94, 94, 94) solid;

}


/* Adding fonts */
@font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Black.otf') format('opentype');
    font-weight: 900; /* 900 is typically used for the black weight */
    font-style: normal;
  }
  @font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }


/* Defining styles of general classes */

body {
    margin: 0;
    overflow: hidden;
    font-family: 'CircularStd', Helvetica;
    font-size: clamp(1rem, 1.5vw, 1.5rem); /* Adjust as needed */
    cursor: auto; 
}

h1 {
    margin: 0;
    overflow: hidden;
    font-family: 'CircularStd', Helvetica;
    font-size: clamp(2rem, 5vw, 3.5rem); /* Adjust as needed */
    color: var(--text);
}

h2 {
    margin: 0;
    overflow: hidden;
    font-family: 'CircularStd', Helvetica;
    font-weight: 900;
    font-size: clamp(1.5rem, 4vw, 2.5rem); /* Adjust as needed */
    color: var(--text);
}

h3 {
    margin: 0;
    overflow: hidden;
    font-family: 'CircularStd', Helvetica;
    font-weight: 900;
    font-size: clamp(1.25rem, 3.5vw, 2rem); /* Adjust as needed */
    color: var(--text);
}

h4 {
    margin: 0;
    overflow: hidden;
    font-family: 'CircularStd', Helvetica;
    font-weight: 900;
    font-size: clamp(1rem, 3vw, 1.5rem); /* Adjust as needed */
    color: var(--text);
}

p {
    margin: 0;
    overflow: hidden;
    font-family: 'CircularStd', Helvetica;
    font-weight: 300;
    font-size: clamp(0.8rem, 2.5vw, 1rem); /* Adjust as needed */
    color: rgb(187, 184, 184);
    margin-left: 0.2rem;
}

/* Defining general of default browser items*/

/*scrollbar*/
/* for chrome or safari browsers */



/* For Firefox Browsers */
html {
    scrollbar-color: var(--popupDarkColor) var(--popupLightColor); /* thumb and track color */
    scrollbar-width: thin; /* 'auto', 'thin', or 'none' */
  }


/* Defining scene style*/
#scene { 
    width: 100%;
    height: 100%;
    display: block;
}

/* the general screen, useful to hide all content quickly */
.screen {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;

    margin: 0;
}

/* Defining general class styles */
.container {
    background-color: var(--mintGreen); /* Semi-transparent white */
}

/* a floating container is one that is floating in middle of the screen */
.container.floating {
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.3); /* Adds depth */
    border-radius: 10px;
    margin: 20px;
}


/* Defining left dashboard style */
#dashboard {
    /* PROPERTIES and INDEX*/
    z-index: 1000; /* High enough to be on top of other elements */
    position: relative;

    /* SIZING */
    height: 100%;
    width: var(--menubar_width);

    /* LAYOUT */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;    

    /* MARGINS AND PADDINGS */

    padding: 10px;
}
/* Common styles for dashboard items */
.dashboard-item {
    /* MARGINS AND PADDINGS */
    margin-top: auto;
    margin-bottom: auto;
    padding: 0; /* Removes default padding */

    /* STYLING */
    border: none; /* Removes default button border */
    background: none; /* Removes default button background */
    cursor: pointer; /* Changes cursor on hover */
}
/* Setting the size of the button icon image */
.dashboard-item img {
    width: 35px; /* Set the width as desired */
    height: 35px; /* Set the height as desired */
    object-fit: cover;
}
/* Styles for hover or focus state, e.g., a slight drop shadow or change in opacity */
.dashboard-item:hover, .dashboard-item:focus {
    box-shadow: 0 2px 4px var(--sageGreen);
}
/* Styles for when the button is clicked */
.dashboard-item:active {
    box-shadow: 0 1px 2px var(--sageGreen);
    color: var(--sageGreen);
    border: 1px solid blue;
}
/* Put top dashboard item at the top with a margin */
.dashboard-item:nth-child(1) {
    /* MARGINS AND PADDINGS */
    margin-top: 20px;
}
/* put last dashboard item at the bottom with a margin */
.dashboard-item:nth-child(3) {
    /* MARGINS AND PADDINGS */
    margin-bottom: 20px;
}
/* put last dashboard item at the bottom with a margin */
.dashboard-item:nth-child(4) {
    /* MARGINS AND PADDINGS */
    margin-top: 0px;
    margin-bottom: 20px;
}
#icon-gallery {
    overflow-x: auto;
    white-space: nowrap;
    /* Additional styling */
}
#menu_container {
    display: flex;
    width: 0px;
    flex-direction: row;
    align-items: left;
    justify-content: left;
}
.menu {
    /* PROPERTIES and INDEX*/
    z-index: 2; /* Sit on top */
    overflow-x: hidden; /* Hides overflowing content */

    /* SIZING */
    height: 100%;
    width: 0; /* Initially sidebar width is 0 */
    
    /* LAYOUT */    
    left: 0px;

    /* MARGINS AND PADDINGS */

    margin-bottom: auto;    
    padding-top: 60px; /* Some padding at the top */

    /* STYLING */
    background-color: #111; /* Sidebar background color */
    transition: 0.4s; /* Smooth transition */
}
.menu a {   
    /* LAYOUT */ 
    display: block;

    /* MARGINS AND PADDINGS */
    padding: 10px 15px;

    /* STYLING */
    transition: 0.3s;
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.menu a:hover {
    color: var(--sageGreen);
}




/* Defining minimap style*/
#minimap_container {
    bottom: 0px;
    right: 0px;
    width: 0px;    
    height: 0px;
    margin-right: auto;
    margin-top: auto;
    background-color: white;
    background-image: url('../0_resources/map.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3); /* Shadow to the left side */
    /* border-radius: 10px; */
    z-index: 10002; /* Ensures it's above the A-Frame scene */
    border-top: 1px solid #000; 
    padding: 0;
    transition: 0.4s;
}
.minimapNode {
    position: relative;
    width: 8px;
    height: 8px;
    background-color: var(--transitionNode);
    border-radius: 50%;
    border: 1px solid grey; /* Add a grey border */
    z-index: 10001;
}




/* Defining popup style*/
.popup {
    position: absolute;
    top: 50%;
    left: 50%;    
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: white;
    box-shadow: 0px 5px 15px var(--popupLightColor);
    box-sizing: border-box;
    border: 3px solid var(--popupLightColor);
    border-radius: 15px;
    overflow: auto;
    z-index: 1000; /* High z-index to be above other content */
    color: var(--popupDarkColor);
}
.popup-header {
    font-family: 'CircularStd', Helvetica;
    border-radius: 10px;
    padding-top: 1rem;
    padding: 1rem;
    /* background: #f9f9f9; */
        border: none;    
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
}
.title-container {
    display: flex;
    flex-direction: column;
    border: none;
} 
.title-description{
    font-style: italic;
    padding-bottom: 2rem;
}
.popup-close-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 2rem;
    color: var(--popupDarkColor);
    align-self: flex-start; /* Puts close-button on top of its own column container */
}
.popup-body {
    display: flex;
    flex-direction: column; 
    padding-top: rem;    
    border: 1.5px solid var(--popupLightColor); 
    border-radius: 10px;
    margin: auto; /* Centers the block itself horizontally */
    align-items: center;
}
.popup-media-text {
    padding-left: 10%;
    padding-right: 10%;
}
.popup-media {   
    padding:1rem;
    align-items: center;
    margin: auto;
    width:80%;
} 
.popup-footer {
    padding: 1rem;
    background: #f9f9f9;
    border-top: 1px solid #eee;
    text-align: right;
}
  /* Defines overlay block that blurs background */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7); /* Semi-transparent white */
    -webkit-backdrop-filter: blur(5px); /* This creates the blur effect for other browsers */
    backdrop-filter: blur(5px); /* This creates the blur effect for firefox */
    display: none; /* Hidden by default */
    z-index: 999; /* Ensure it's below the popup but above other content */
}




/* Removes the VR button at the bottom right. Might be useful to change it to a full screen icon? */
.a-enter-vr-button { 
    display: none !important;
}




/* sidebar styles */
#sidebar-container {
    height: 100%;
    width: 30%; /* 30 when open, 3 when closd */
    background-color: var(--background);
    z-index: 1001;
    transition: width 0.3s ease;

    /* flexbox styles https://www.youtube.com/watch?v=phWxA89Dy94 */
    display: flex;
    justify-content: end flex;
}

#sidebar {
    height: 100%;
    width: 100%;
    transition: width 0.3s ease;
    /* flexbox styles */
    display: flex;
    flex-direction: column;
}
#sidebar-header {
    background-color: var(--background); 
    flex: 1;  
    padding-left: 7%; 
    padding-top: 7%;
    border-bottom: var(--bottom-border-styles) ;
}
#sidebar-item-grid {
    background-color: var(--background);
    flex: 5;
    /* grid styles https://www.youtube.com/watch?v=EiNiSFIPIQE */
    display: grid;
    grid-template-columns: 1fr;
    z-index: 1001;
    scrollbar-gutter: 4px;
    overflow-y: auto;
    grid-auto-rows: 1;
}

.sidebar-item {
    z-index: 1003;
    background-color: var-background; 
    border-bottom: var(--bottom-border-styles);
    padding-left: 7%;
    padding-top: 3%;
}

#sidebar-toggler {
    /* flex-grow: 1; */
    flex-direction: column;
    height: 100%;
    width: 2vw;
    background-color: var(--mintGreen);;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#sidebar-toggler-button{
    background-color: var(--mintGreen);;
    display: block;
    width: 10%;
    /* Adjust the size of the arrow by changing the border sizes */
    transition: transform 0.15s ;
    border-left: 8px solid ; /* Arrow color */
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 0px;
    z-index: 1003;  
}




.editMenu {
    position: absolute;
    z-index: 10000; /* Ensure it appears above other elements */
    width: 200px; /* Set a fixed width or adjust as needed */
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    overflow: hidden;
    display: none; /* Initially hidden */
}

.editMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.editMenu ul li {
    padding: 10px;
    cursor: pointer;
    text-align: left;
}

.editMenu ul li:hover {
    background-color: #f5f5f5;
}

/*----------------------------------------------------------------*/
/* make fonts responsive */


